*{
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(45deg, #252504bb, #e14e42);
    color: #fff;
}
.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width:120px;
    cursor: pointer;
}
.menu-icon{
    width:30px;
    cursor: pointer;
    margin-left: 60px;
}
nav {
    text-align: right;
    flex: 1;
}
nav ul li{
    list-style: none;;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 5px 2px;
    font-weight: bold;
}
nav ul li a:hover{
    color:#e7c82f
}
.row{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    margin:20px 0;
    min-width: 300px;
    height: 100%;
    position: relative;
}
.text-box{
    margin-top: 100px;
    max-width: 400px;
}
h5{
    color:#e7c82f;
    font-size: 2em;
}
h1{
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 55px;
    font-weight: 100;
}
.gallery-box{
    max-width: 400px;
    position: relative;
    margin:auto;
}
.gallery-box img{
    width: 100%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}
.gallery-box ul{
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}
.gallery-box ul li{
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    margin:15px 0;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
}
.active{
    color:#e7c82f; 
}
.gallery-box ul li::after{
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background: transparent;
    top: 8px;
    left:-10px;
}
.gallery-box .active::after{
    background: #e7c82f;
 
}
.small-icon01{
    width: 15px;
    position: absolute;
    right: 200px;
    top: -10px;
    opacity: 0.3;
}
.small-icon02{
    width: 25px;
    position: absolute;
    right: 170px;
    top: 200px;
    opacity: 0.3;
}
.small-icon03{
    width: 15px;
    position: absolute;
    right: 300px;
    top: 400px;
    opacity: 0.3;
}
.small-icon04{
    width: 250px;
    position: absolute;
    left: -90px;
    top: 100px;
    opacity: 0.3;
}